django
python-decouple
chromadb
redis
pytesseract
pdf2image
django-redis
PyYAML
sentence-transformers
openai
djangorestframework
djangorestframework-simplejwt
django-cors-headers
pytest
pytest-django
drf-spectacular
python-dateutil
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-django